# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.wrangler
.output

# Environment and secrets
.env
.env.*


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Testing
coverage
.nyc_output

# Cache directories
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Editor directories and files
.vscode/*
.cursor/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare specific
.dev.vars

# Bun
bun.lockb

# Temporary files
*.tmp
*.temp
.DS_Store
Thumbs.db

# vscode
.vscode
