# PNPM specific
pnpm-lock.yaml

# Ignore artifacts
dist
build

# Dependencies
node_modules

# Logs
*.log

# Optional: Add other files/directories you want to ignore 
.gitignore

.next
.prettierrc
wrangler.toml
.wrangler
